@define-color selected-text #f5c2e7;
@define-color text #c6d0f5;
@define-color base #01010180;
@define-color border #89b4fa;
@define-color foreground #c6d0f5;
@define-color background #0e0e0e80;

/* Rounded Corners */
.box-wrapper {
  border-radius: 8px;
}

/* Selected Item Styling */
child:selected {
  border-radius: 8px;
  background-color: mix(black, @background, 0.875);
  transition: all 0.15s ease-out;
  transition: background-color 0s ease-out;
  box-shadow:
    0 0 3px rgba(0, 0, 0, 0.2),
    0 0 3px rgba(0, 0, 0, 0.2);
}

child:selected .item-box {
  background: linear-gradient(90deg, alpha(@accent, 0.2), transparent 100%);
  transform: translateX(4px);
  transition:
    background 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    border-left 150ms ease;
}

/* Revert Selected Item Color */
child:selected .item-box * {
  color: @text;
}

/* Enable Quick Activation Hints */
.item-quick-activation {
  font-size: 12px;
  color: alpha(@text, 0.15);
  margin-right: 2rem;
}

/* Transparent Search Bar */
.search-container {
  background-color: transparent;
}

/* Animations */
child,
.item-box {
  transition:
    background 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    border-left 150ms ease,
    transform 150ms ease;
}

window .list child {
  animation: slideIn 180ms ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
